@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans&display=swap');

body {
    font-family: "Mullish", sans-serif;
    margin-left: 130px;
    margin-right: 125px;
}

nav, section{
    
}
/* Header Styles */

.nav-bar {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    height: 60px;
    margin-bottom: 50px;
}

.nav-logo {
    display: flex;
    gap: 16px;
    margin-top: 5px;
}

.nav-logo img {
    width: 48px;
    height: 56.008px;
}

.nav-title {
    color: #131318;
    font-family: Mulish;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 10px;

}

.nav-title-style {
    color: #FF5400;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul li a {
    text-decoration: none;
    padding-left: 44px;
    color: var(--Dark-02, #424247);
}

/* Header-> Explore Section Styles */
.explore {
    width: 100%;
    height: 500px;
    border-radius: 16px;
    margin-bottom: 100px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(./Images/header-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.explore-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
}

.explore-des {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-right: 440px;
    margin-left: 440px;
}

.explore-inputs {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-right: 400px;
    margin-left: 400px;
}

.explore-inputs input {
    width: 174px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

.ex-normal {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#ex-btn {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}

/* Popular Tours Section */
.popular-tours {
    display: flex;
    height: 700px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.popular-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: start;
    margin-bottom: 24px;
}

.popular-text {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.popular-contents p {
    width: 530px;
    margin-bottom: 24px;
}

.popular-contents li {
    margin-bottom: 16px;
    width: 525px;
}

.button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    border: none;
    margin-top: 40px;
}

/* Destination Section */
.destination-texts {
    text-align: center;
    margin-bottom: 50px;
}

.destination-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination-texts p {
    width: 660px;
    text-align: center;
    margin: 0 auto;
}


/* Destination Section */
.destination-images {
    margin-bottom: 100px;
}

/* Grid areas naming */
.grid-1 {
    display: flex;
    justify-content: space-around;
}

.grid-2 {
    display: flex;
    justify-content: space-between;
    padding-right: 250px;
    padding-left: 140px;
}

.grid-3 {
    display: flex;
    justify-content: space-between;
    padding-right: 230px;
    padding-left: 140px;
    padding-top: 100px;
}

.grid-text {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.maldives {
    width: 573px;
    height: 300px;
    flex-shrink: 0;
    background-image: url(./Images/maldives.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indonesia {
    width: 673px;
    height: 400px;
    background-image: url(./Images/indonesia.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.srilanka {
    width: 374px;
    height: 286px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Images/srilanka.png);
}

.north-america {
    width: 474px;
    height: 286px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Images/north-america.png);
}

.kashmir {
    width: 274px;
    height: 286px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./Images/kashmir.png);
}

.bangladesh {
    grid-area: bangladesh;
    width: 473px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./Images/bangladesh.png), lightgray 50% / cover no-repeat;
}

.bandarban {
    width: 673px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(./Images/bandarban.png), lightgray 50% / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Why Choose Us Section */
.wcus {
    height: auto;
    width: 100%;
}

.wcu-contents {
    margin-top: 48px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    justify-content: space-evenly;
    row-gap: 24px;
}

.hotels {
    /* grid-area: hotels; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.hotels img {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}

.service {
    /* grid-area: service; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.service img {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}

.price {
    /* grid-area: price; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.price img {
    width: 64px;
    height: 64px;
}

/* News Letter Section */


/* Footer */
footer {
    width: 1440px;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
}




/* Responsive */

@media screen and (max-width: 576px) {
    body{
        margin-left: 10px;
        margin-right: 30px;
    }
    img{
        width: 300px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    nav{
        flex-direction: column;
        margin-bottom: 100px;
        row-gap: 20px;
        padding-bottom: 100px;
    }
    nav ul{
        flex-direction: column;
    }
    .nav-bar{
        flex-direction: column;
    }
    .explore{
       /* background-image: none; */
       width: 400px;
    }
    .explore-inputs{
        display: flex;
        flex-direction: column;
    }
    .popular-tours{
        flex-direction: column;
        padding-top: 100px;
        /* margin-right: 100px; */
        width: 400px;
    }
    .popular-contents{
        width: 400px;
    }
    .destination{
        flex-direction: column;
        width: 400px;
    }
    .destination-texts{
        width: 300px;
    }
    .wcus{
        width: 400px;
        padding-top: 100px;
    }
    .grid-1{
        flex-direction: column;
        padding: 20px;
    }
    .grid-2{
        flex-direction: column;
        padding: 20px;
    }
    .grid-3{
        flex-direction: column;
        padding: 20px;
        width: 300px;
    }
   

    .wcu-contents{
        grid-template-columns: 1fr;
    }
    
}